body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../RES/anhbiatb.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login {
    background-color: #9c9393;
    background-image: url(../RES/banglogin.jpg);
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 70px;
}

.login form {
    text-align: center;
}

.login h1 {
    margin-bottom: 30px;
    font-size: 36px;
    color: #000000;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 10px;
    outline: none;
}

.input-box ion-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #ccc;
}

.remember-forgot {
    margin-bottom: 20px;
}

.remember-forgot label {
    margin-right: 10px;
}

.remember-forgot a {
    text-decoration: none;
    color: #333;
}

.btn {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.register-link {
    text-align: center;
}

.register-link a {
    text-decoration: none;
    color: #007bff;
}

.current {
    position: absolute;
    top: 0;
    left: 0;
    margin: 100px; 
}
