.store-description{
    font-size: 2rem;
    font-family: Arial, sans-serif;
    text-align: center;
}
h1 {
    font-size: 3rem;
    text-align: center;
}
.item {
    display: inline-block;
    vertical-align: top; 
    margin-right: 20px; 
}

.container h1 {
    background-color: brown;
}

.shop-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin-top: -30px;
}

body {
    background-image: url(../RES/background.jpg);
    background-size: cover; 
    background-position: center;
    background-attachment: fixed; 
}

.item {
    border-radius: 30px;
}
